{% extends 'base.html' %}{% load static i18n %}
{% block content %}
    <div class="content">
        <div class="list-view">
            <div class=" container ">
                <div class="row align-items-center section-header ">
                    <div class="col col-md-auto p-md-0">
                        <h2 class="section-title-list">{% trans 'About Experina' %}</h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-6 col-lg-8 col-sm-12">
                            <p class=" ">{% trans 'Experina Sports prices wants to be a (web) store that is ready for the customer. We are service oriented.' %}</p>
                            <p class=" ">{% trans 'We have a small stock to deliver directly and if necessary, we immediately turn on the engraving machine to provide the customer with sports prizes.' %}</p>
                            <p class=" ">{% trans 'We often have a chat with the customer and put a cup of coffee.' %}</p>
                            <p class=" ">{% trans 'We also want to deliver quality and of course on time. We go there for ......' %}</p>
                            <p class=" ">{% trans 'Bringing the ordered home home is often no problem for us. The customer does not have to travel twice.' %}</p>
                            <p class=" ">{% trans 'For specific questions we dive into the books of the wholesalers and if necessary we get a product from abroad.' %}</p>
                            <p class=" ">{% trans 'Nowadays we can make mugs and what not. We too do not want to stand still.' %}</p>
                            <p class=" ">{% trans 'Your own logo on a cup and medal also belongs to the possibilities. And that often at a very small extra price.' %}</p>
                            <p class=" ">{% trans 'In short, we are 100% customer-oriented and basically do not sell no. And that at low cost.' %}</p>
                            <p class=" ">{% trans 'However, we are not of those bullies, a medal with a sticker on the back we have some trouble with it.' %}</p>
                            <p class=" ">{% trans 'We choose originality and quality.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
