{% extends 'base.html' %}{% load static i18n %}
{% block content %}
    <div class="content">
        <div class="list-view">
            <div class=" container ">
                <div class="row align-items-center section-header ">
                    <div class="col col-md-auto p-md-0">
                        <h2 class="section-title-list">{% trans 'Contact' %}</h2>
                    </div>
                </div>
                <h3>Experina Sportprijzen</h3>
                <div class="col-12 col-sm-6 col-md address ">
                    <div class="footer-item-wrap ">
                        <p class="textFooter ">{% trans 'addresss' %}</p>
                        <p class="textFooterOther ">
                            Torenstraat 41
                        </p>
                        <p class="textFooterOther ">
                            9203 BD, Drachten
                        </p>
                        <p class="textFooterOther ">
                            0512-841410 / 06-21916677
                        </p>
                        <p class="textFooterOther ">
                            <a href="mailto:sportpriis@experina.nl">sportpriis@experina.nl</a>
                        </p>
                        <p class="textFooter ">{% trans 'Facebook:' %}</p>
                        <p class="textFooterOther">
                            {% trans 'Click  <a href="https://www.facebook.com/pages/Experina-Sportprijzen/132804423566121" target="_blank">here</a>  to go to our page on Facebook' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
